/* Add these styles to your CSS file */

.content-container {
  display: flex;
}

.blog-card {
  flex: 1;
  margin-right: 20px; /* Adjust margin as needed */
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breaking-news-card {
  color: rgb(51, 50, 50); /* Text color for breaking news */
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 auto;
  height: 26px;
  max-width: 1000px;
  align-items: center;
  margin-top: 2rem;
  gap: 2px;
  border: 1px solid rgb(219, 219, 219);
  max-width: 1000px;
}
.break {
  background-color: red;
  color: white;
}

.breaking-news-container {
  font-size: 12px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: rgb(105, 105, 105);
  width: 781px;
  background-color: rgb(255, 255, 255);
}

.news-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  float: right;
}

.visible {
  opacity: 1;
}

.hidden {
  display: none;
}
