/* Homepage.module.css */

.homer {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px 3px rgb(214, 214, 214);  
  font-size: 13px;
  background-color: white;
  color: rgb(95, 93, 93);
}
.media {
  padding: 5px;
  border-bottom: 3px solid orange;
}
.call {
  height: 3rem;
  width: 3rem;
  padding-top: 3px;
}
.caller {
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 217, 217);
}
.number {
  background-color: rgba(255, 0, 0, 0.788);
  font-size: 28px;
  color: #fff;
  border-radius: 3px;
  
}
.media {
  justify-content: center;
  align-items: center;
}

.tags button{
  padding: 3px;
  margin: 5px;
  background-color: gray;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.tags button:hover {
  background-color: orange;
}

.fb {
  height: 52px;
  padding: 3px;
  }
.start {
  display: flex;
}
.left {
  width: 35%;
  padding: 3px;
}
.right {
  width: 65%;
  padding: 9px;
  line-height: 22px;
}
.straight {
  width: 1px;
  background-color: #c2c2c2;
  margin: 0 10px;
}
.leftie {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  padding: 20px;
  width: 64%;
  line-height: 22px;
  border: 1px solid rgb(233, 232, 232);
}
.header {
  display: grid;
  padding: 10px;
  width: 10rem;
  font-size: 12px;
  color: rgb(65, 64, 64);
  justify-content: center;
  align-items: center;
}
.rightie {
  padding: 20px;
  width: 36%;

}
.latest {
  height: 12px;
  width: 48%;
}
.art {
  padding-top: 25px;
}
.art span {
  font-size: 24px;
}
.profile {
  border: 1px solid rgb(207, 206, 206);
  border-bottom: 3px solid orange;
  height: 8rem;
}
.pro {
  height: 5rem;
  padding-top: 17px;
  padding-right: 17px;
  float: right;
}
.leftie p,
.rightie span {
  margin-bottom: 20px;
}
.hr {
    color: rgb(156, 158, 156);
}

/* Add additional styles as needed */
.research {
  height: 11rem;
  border: 1px solid rgb(233, 232, 232);
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid orange;
}
.tex {
  padding-top: 12px;
}

.qrer {
  height: 12px;
  width: 40%;
}
.rer {
  width: 20%;
  height: 12px;
}
.chat {
  font-size: 20px;
  font-weight: bold;
}
.search {
  height: 5rem;
  border: 1px solid rgb(233, 232, 232);
  border-bottom: 3px solid orange;
  justify-content: center;
  align-items: center;
  padding: 2px;
  /*box-shadow: 0 0 1px 1px rgb(190, 187, 187);*/
}
.init {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 2rem;
  margin: 4px;
  border-radius: 2px;
  float: right;
  border: 1px solid rgb(233, 232, 232);
}

.butt {
  height: 2rem;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 2px;
  float: right;
  margin: 4px;
  cursor: pointer;
}
.butt:hover {
  background-color: black;
}
.rq {
  height: 12px;
  width: 100%;
}
.empty {
  height: 18px;
  border: 1px solid rgb(233, 232, 232);
  border-bottom: 3px solid orange;
}
.arch {
  height: 12px;
  width: 56%;
  padding-top: 12px;
}

.xet {
  border: 1px solid rgb(170, 169, 169);
  width: 70%;
  padding-top: 9px;  
}
.box {
  border: 1px solid rgb(233, 232, 232);
  border-bottom: 3px solid orange;
  margin-top: 15px;
}
.folder {
  height: 12px;
  width: 5%;
  padding-left: 5px;
}
.lain {
  width: 96%;
}
.laster {
  border: 1px solid rgb(233, 232, 232);
  border-bottom: 3px solid orange;
}

.lastie {
  height: 12px;
  padding-top: 12px;
}
.ls {
  float: right;
}
.coder {
  height: 12px;
  width: 80%;
}
