/* Navbar.module.css */

.navbar {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0px;
  border-top: 2px solid orange;
  margin-top: 2rem;
  margin-left: 8rem;
  width: 80%;
  border-left: 1px solid rgb(204, 200, 200);
  border-right: 1px solid rgb(204, 200, 200);
  border-bottom: 1px solid orange;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: orange;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.logo {
  width: 20px;
  height: 20px;
}

.searchInput {
  margin-left: 10px;
  padding: 5px;
}

.wifiButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 36rem;
}

.samplePage {
  font-size: 16px;
  color: rgb(109, 109, 109);
}

.pgh {
  margin-bottom: 20px;
}

.boldText {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(73, 71, 71);
}

.boldText:hover {
  color: rgb(0, 0, 0);
}

.normalText {
  font-weight: normal;
  margin-left: 34rem;
  color: rgb(122, 121, 121);

}

