/* Navbar.module.css */

.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-top: 2px solid orange;
  margin-top: 2rem;
  margin-left: 15rem;
  width: 70%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: orange;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.logo {
  width: 20px;
  height: 20px;
}

.searchInput {
  margin-left: 10px;
  padding: 5px;
}

.wifiButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 36rem;
}

.samplePage {
  font-size: 16px;
  color: rgb(109, 109, 109);
}

.hr {
  height: 13px;
  width: 13px;
  background: rgb(153, 67, 67);
}

.pgh {
  margin-bottom: 20px;
}

.boldText {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(73, 71, 71);
}

.boldText:hover {
  color: rgb(0, 0, 0);
}

.normalText {
  font-weight: normal;
  margin-left: 28rem;
  color: rgb(122, 121, 121);

}

.navGroup {
  flex: 1;
  margin-right: 20px;
}

.navItem {
  cursor: pointer;
  display: block;
  padding: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}

/* Add more styles as needed */
