/* Navbar.module.css */

.navbar {
  background-color: white;
  border-top: 4px solid #ff9900;
  border-bottom: 4px solid #ff9900;
  padding:10px;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: rgb(247, 134, 43);
  color: white;
  padding: 2px;
  border: none;
  cursor: pointer;
  display: flex;
}

.wifiButton {
  background-color: white;
  padding: 2px;
  border: none;
  cursor: pointer;
  display: flex;
  margin-right: 37rem;
}

.samplePage {
  color: rgb(112, 112, 112);
  padding: 3px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchButton img, .wifiButton img {
  margin-right: 3px;
}

.searchInput {
  padding: 8px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
}

.boldText {
  font-weight: bold;
  color: rgb(63, 60, 60);
  font-size: 2.5rem;
}

.boldText:hover {
  color: black;
}
.br {
  width: 2px;
}

.normalText {
  color: rgb(119, 116, 116);
  font-size: 12px;
  margin: 0rem 0rem 2rem 36rem;
}

.navGroup {
  display: flex;
  background-color: rgb(20, 20, 20);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navItem {
  background-color: black;
  color: white;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.navItem:hover {
  background-color: #333;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #333;
}
/* Navbar.module.css */

/* ... Existing styles ... */

.logo {
  width: 20px; /* Adjust the size as needed */
  height: auto;
}

/* ... Remaining styles ... */
